#body {
    background: url(../img/bg.jpg) no-repeat 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*DARK COVER FOR BACKGROUND IMAGE*/
#container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.75);
}


/*CENTERING RANDOMIZED ITEMS*/
.results {
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    display: none;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 20px;
}



/*==============
  INPUT STYLING
----------------*/

#numbergreens, #numberwhites, #numberreds, #numberblues, #numberoranges, #numberpurples, #numberyellows {
    height: 40px;
    width: 40px;
    padding: 5px;
    border: 1px solid grey;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    color: rgba(83,102,120,0.8);
    text-shadow: black 1px 1px;
    font-size: 16pt;
    box-shadow: inset 5px 5px 1px rgba(83,102,120,0.8), inset -5px -5px 1px rgba(83,102,120,0.8);
    text-align: center;
}

#numberwhites {
    background-color: rgb(196, 196, 196);
}
#numbergreens {
    background-color: rgb(133, 252, 118);
}
#numberreds {
    background-color: rgb(252, 118, 118);
}
#numberblues {
    background-color: rgb(118, 172, 252);
}
#numberoranges {
    background-color: rgb(252, 172, 118);
}
#numberpurples {
    background-color: rgb(241, 118, 252);
}
#numberyellows {
    background-color: rgb(252, 250, 118);
}

/*==============
  INPUT STYLING
----------------*/



/*==================
  BUTTON ANIMATIONS
--------------------*/
button {
    padding: 5px;
    border: 1px solid grey;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    background-color: rgba(66,82,99,0.8);
    color: white;
    text-shadow: black 2px 2px;
    font-size: 26pt;
    box-shadow: inset 5px 5px 1px rgba(83,102,120,0.8), inset -3px -3px 1px rgba(83,102,120,0.8);
}

button:hover {
    background-color: rgba(181,193,158,0.9);
    box-shadow: inset 5px 5px 1px rgba(220,226,169,0.8), inset -3px -3px 1px rgba(220,226,169,0.8);
}

button:active {
    background-color: rgba(153,160,106,0.9);
    box-shadow: inset 5px 5px 1px rgba(187,191,113,0.8), inset -3px -3px 1px rgba(187,191,113,0.8);
}
/*=====================
 END BUTTON ANIMATIONS
-----------------------*/



/*===================================
BACKGROUND COLORS FOR EACH ITEM TYPE
-------------------------------------*/
#common {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    border: 3px solid white;
}
#uncommon {
    background-color: rgba(66, 226, 66, 0.329);
    border-radius: 15px;
    border: 3px solid rgb(133, 252, 118);
}
#rare {
    background-color: rgba(231, 34, 34, 0.329);
    border-radius: 15px;
    border: 3px solid rgb(252, 118, 118);
}
#lunar {
    background-color: rgba(34, 119, 231, 0.329);
    border-radius: 15px;
    border: 3px solid rgb(118, 172, 252);
}
#useitem {
    background-color: rgba(231, 129, 34, 0.329);
    border-radius: 15px;
    border: 3px solid rgb(252, 172, 118);
}
#void {
    background-color: rgba(198, 34, 231, 0.329);
    border-radius: 15px;
    border: 3px solid rgb(241, 118, 252);
}
#boss {
    background-color: rgba(231, 228, 34, 0.329);
    border-radius: 15px;
    border: 3px solid rgb(252, 250, 118);
}
/*=============
    END COLORS
---------------*/

.box {
    margin: 5px;
}

img {
    margin: 20px;
}

/*==========
  ACCORDION
------------*/

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 .accordion:hover {
    background-color: rgba(181,193,158,0.9);
    box-shadow: inset 5px 5px 1px rgba(220,226,169,0.8), inset -3px -3px 1px rgba(220,226,169,0.8);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
      text-align: center;
    padding: 0 18px;
    background-color: rgba(66,82,99,0.8);
    display: none;
    overflow: hidden;
  }

  .controlsContainer p {
      color: white;
      font-weight: 900;
      font-size: 14pt;
      font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
